.dropdown {
  margin: 1rem auto;
  padding: 0.25rem 0;
  border-radius: 15px;
  background-color: var(--primary);
  color: #fff;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 0.75rem var(--primary);
}

.dropdown_trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  margin: 0;
}

.dropdown_content {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.dropdown_content p {
  width: 85%;
  border-top: 1px solid black;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.dropdown_icon-container {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  font-size: 3rem;
  margin: 1rem;
  margin-right: 2rem;
  margin-left: 1.5rem;
  background-color: var(--accent);
  overflow: hidden;
}

.dropdown_icon-container i {
color: black;
}

.dropdown_icon {
  color: var(--secondary);
}

.dropdown_icon-container-active {
  background-color: var(--primary);
}

.dropdown_icon-active {
  color: var(--primary);
}

.collapsible {
  opacity: 0;
  max-height: 0;
}

.collapsible a {
  display: none;
}

.collapsed {
  opacity: 1;
  max-height: 100vh;
  transition: all 0.75s;
}

.collapsed a {
  display: inline-block;
}

.dropdown-active {
  background: #fff;
}

.dropdown-active p {
  color: black;
}

.dropdown-active i {
  color: var(--accent);
}

.dropdown-active .dropdown_icon-container {
  background-color: var(--primary);
}
