@font-face {
  font-family: "lulo clean bold";
  src: url("/fonts/lulo_clean_one_bold-webfont.woff2") format("woff2"),
    url("/fonts/lulo_clean_one_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "lulo clean";
  src: url("/fonts/lulo_clean_one-webfont.woff2") format("woff2"),
    url("/fonts/lulo_clean_one-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
