:root {
  --primary: #9f8268;
  --secondary: #000000;
  --accent: #fdf4ec;

  --color-headings: #9f8268;
  --color-body: black;
}

@font-face {
  font-family: "lulo clean bold";
  src: url("../fonts/lulo_clean_one_bold-webfont.woff2") format("woff2"),
    url("../fonts/lulo_clean_one_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "lulo clean";
  src: url("../fonts/lulo_clean_one-webfont.woff2") format("woff2"),
    url("../fonts/lulo_clean_one-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  opacity: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
  position: relative;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "lulo clean", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.873rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

a {
  font-size: 1.6rem;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

ul {
  display: inline;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

ul li::marker {
  margin-right: 1rem;
}

.luloclean {
  font-family: "lulo clean", sans-serif;
  letter-spacing: -2px;
  word-spacing: 7.5px;
}

.luloclean-bold {
  font-family: "lulo clean bold", sans-serif;
  letter-spacing: -2px;
  word-spacing: 7.5px;
}

.monserrat {
  font-family: "Montserrat", sans-serif;
}

.centre {
  margin: auto;
}

.align-centre {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.hide {
  display: none;
}

.brown {
  color: var(--primary);
}

/* Layouts */
section {
  /* border: 2px solid black; */
}

.container {
  width: 90%;
  margin: 15vw auto;
  max-width: 1150px;
  /* border: 2px solid black; */
}

@media screen and (min-width: 992px) {
  .container {
    width: 70%;
    margin: 6vw auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
    margin: 6vw auto;
  }
}

.section-intro {
  text-align: center;
  margin-bottom: 3vw;
}

.section-intro .heading,
h2 {
  font-size: 3rem;
  letter-spacing: -2px;
  word-spacing: 3px;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
}

.col2row1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.col3row1 {
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
}

.col4row1 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.col2row5 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
}

.seperator {
  background-color: #9f8268;
  height: 2px;
  width: 70%;
  margin: auto;
}

.logo-link {
  display: flex;
}

@media screen and (min-width: 768px) {
  .col2row1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
