:root {
  --primary: #9f8268;
  --secondary: #000000;
  --accent: #fdf4ec;

  --color-headings: #9f8268;
  --color-body: black;
}

.popup-wrapper {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  display: none;
  z-index: 100;
}

.popup {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .popup {
    width: 50rem;
    margin: auto;
  }
}

.poup-subform {
  box-shadow: 0 0 2rem black;
  border-radius: 20px;
  background-color: #fff;
  padding: 1rem;
  border: 0.75rem solid var(--primary);
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .poup-subform {
    padding: 2rem 4rem;
  }
}

.popup-subheading {
  margin: 2rem auto;
}

.mc-field-group.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.mc-field-group.group label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.mc-field-group.group input,
select {
  height: 3rem;
  padding: 0 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.popup-submit {
  box-shadow: none;
}

.cross {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.popup-submit {
  margin: 2rem 0;
}

.active {
  display: flex;
}

#mc_embed_signup_scroll > div:nth-child(1) > div {
  background-color: transparent;
  color: red;
  font-size: 1.2rem;
}

#mc_embed_signup_scroll > div:nth-child(2) > div {
  background-color: transparent;
  color: red;
  font-size: 1.2rem;
  font-family: "Monserrat", sans-serif;
}

#mc_embed_signup input.mce_inline_error {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0;
}

.mc-field-group.group {
  margin: 2rem 0;
}

#mce-success-response {
  font-size: 1.4rem;
}

#mc_embed_signup div.mce_inline_error {
  margin: 0;
}
