:root {
  --primary: #9f8268;
  --secondary: #000000;
  --accent: #fdf4ec;

  --color-headings: #9f8268;
  --color-body: black;
}

.price-card {
  box-shadow: 0 0 1rem var(--primary);
  border-radius: 10px;
  overflow: hidden;
  width: 30rem;
  min-width: 27rem;
  height: 50rem;
  margin: 1rem;
}

.price-card_header {
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.price-card_header p {
  margin: 0;
}

.price-card_header p span {
  font-size: 5rem;
  font-weight: bold;
}

.price-card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  height: 70%;
}

.price-card_list {
  /* border: 1px solid black; */
  height: 75%;
  width: 85%;
  overflow-y: scroll;
}

.price-card_list li {
  list-style: url(/src/images/price-list-tick.svg);
  list-style-image: url(/src/images/price-list-tick.svg);
  margin-bottom: 1rem;
  font-size: 1.3rem;
  margin-left: 3rem;
  margin-right: 1.5rem;
}

.price-card_list::-webkit-scrollbar {
  display: none;
}

.price-card_btn {
  font-size: 1.4rem;
  margin-top: 2rem;
}

body
  > section.price
  > div
  > div.price-cards_container-desktop
  > div
  > div
  > ul
  > div.scrollbar-track.scrollbar-track-y.show
  > div {
  background-color: var(--primary);
  width: 6px;
  border-radius: 5px;
}

body
  > section.price
  > div
  > div.price-cards_container-desktop
  > div
  > div
  > ul
  > div.scrollbar-track.scrollbar-track-y.show {
  background-color: var(--accent);
  width: 6px;
  border-radius: 5px;
  overflow: hidden;
}

body
  > section.price
  > div
  > div.price-cards_container-mobile.swiper.swiper-initialized.swiper-horizontal.swiper-android
  > div.swiper-wrapper
  > div.swiper-slide.swiper-slide-active
  > div
  > div
  > ul
  > div.scrollbar-track.scrollbar-track-y.show
  > div {
  background-color: var(--primary);
  width: 6px;
  border-radius: 5px;
}

body
  > section.price
  > div
  > div.price-cards_container-mobile.swiper.swiper-initialized.swiper-horizontal.swiper-android
  > div.swiper-wrapper
  > div.swiper-slide.swiper-slide-active
  > div
  > div
  > ul
  > div.scrollbar-track.scrollbar-track-y.show {
  background-color: var(--accent);
  width: 6px;
  border-radius: 5px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
